<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <component name="sw-entity-multi-id-select">
            <name>excludedCategories</name>
            <entity>category</entity>
            <label>Excluded Categories from Search</label>
            <label lang="de-DE">Von der Suche ausgeschlossene Kategorien</label>
            <helpText>Products assigned to these categories will not be found via the storefront search.</helpText>
            <helpText lang="de-DE">Produkte, die diesen Kategorien zugeordnet sind, werden nicht über die Storefront-Suche gefunden.</helpText>
        </component>
    </card>
</config>
